.container{
    width: 95%;
    margin: 0 auto;
}
.container img{
    width: 550px;
    height: 365px;
}
.container > h1{
    text-align: center;
    margin-bottom: 90px;
    font-family: 'Inter', sans-serif;
}
.aboutus{
    display: flex;
}
.aboutus div{
    margin-left: 55px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
.aboutus div h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
}
.aboutus div p{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
width: 658px;
height: 291px;
}