.inputLogin input{
    width: 650px;
    height: 40px;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 37px;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.inputLogin p{
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}