.container{
    width: 80%;
    margin: 0 auto;
}
.container h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
}
.In{
    width: 650px;
 
    text-align: right;
}
.inputLogin label input{
    width: 650px;
    height: 40px;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 37px;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.inputLogin label p{
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.In button{
    width: 100px;
height: 24px;
border-radius: 10px;
border: 1px solid #6AC4FF ;
background-color: white;
}
.In a:hover{
    color: #6AC4FF;
}
.In span{
    margin-right: 100px;
}
.In a{
    text-decoration: none;
    color: black;
}