*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.container h1{
    text-align: center;
    margin-top: 73px;
    margin-bottom: 74px;
    font-family: 'Inter', sans-serif;   
}